#main-screen {
    position: absolute;

    left: 0.35%;

    width: 99%;
    height: 97%;

    border: 2px solid black;
}

input {
    width: 94%;
}

#inputs {
    position: fixed;
    
    top: 5%;
    left: 80%;

    width: 19%;
}

#tap-progress {
    position: fixed;

    top: 45%;
    left: 81%;

    width: 17%;

    background-color: lightblue;
    text-align: center;

    display: none;
}

#cell-table {
    width: 80%;
    height: 100%;
}

.cell {
    border: 1px solid green;
    cursor: pointer;
}